/* Body
**************************************************************/
html {
    /* background: url(../images/Orange2.jpg) fixed; */
}

body{
    font: 62.5%/1.5 Arial, Hevetica, sans-serif;
    overflow:hidden;
}

#startDiv {
    text-align:center;
    display:table;
    overflow:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: auto;
    float: left;
    /*Center Vertically*/
    /*
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;*/
}

#startGameButton {
  background: #63b4e6;
  background-image: -webkit-linear-gradient(top, #63b4e6, #1a6899);
  background-image: -moz-linear-gradient(top, #63b4e6, #1a6899);
  background-image: -ms-linear-gradient(top, #63b4e6, #1a6899);
  background-image: -o-linear-gradient(top, #63b4e6, #1a6899);
  background-image: linear-gradient(to bottom, #63b4e6, #1a6899);
  /*-webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;*/
  font-family: Arial;
  color: #ffffff;
  font-size: 40px;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
}

#startGameButton:hover {
  background: #a3dafa;
  background-image: -webkit-linear-gradient(top, #a3dafa, #67b0e0);
  background-image: -moz-linear-gradient(top, #a3dafa, #67b0e0);
  background-image: -ms-linear-gradient(top, #a3dafa, #67b0e0);
  background-image: -o-linear-gradient(top, #a3dafa, #67b0e0);
  background-image: linear-gradient(to bottom, #a3dafa, #67b0e0);
  text-decoration: none;
}

#selectLevelDiv {
    border:1px solid black;

    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: auto;
    float: left;
}

#tableTitle {
    /*border-style: solid;*/
    height: 100px;
    width: 100%;
    text-align: center; 
    padding-top: 50px; 
}

#tableTitleLabel {
    font-size: 30px;
}

.individualLevel {
    height: 60px;
    width: 100%;
   
    text-align: center;
    padding-top: 30px;
    position: relative;
}

.individualLabel {
    font-size: 20px;
}

/*
.individualBlur {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.0;
    top: 0;
    left: 0;
}

.individualBlur:hover {
    opacity: 1.0;
}*/

.individualBlurLocked {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}

.individualBlurLocked:hover{
     opacity: 0.4;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.nonLockedLevels:hover {
    opacity: 0.6;
}

#selectModeDiv {
    border:1px solid black;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: auto;
    float: left;
}

#modeTitle {
    height: 100px;
    width: 100%;
    text-align: center; 
    padding-top: 50px; 
}

#modeTitleLabel {
    font-size: 30px;
}

.modeOptions {
    height: 60px;
    width: 100%;   
    text-align: center;
    padding-top: 30px;
}

.modeOptions:hover{
    opacity: 0.6;
}

.modeOptionsLabel {
    font-size: 20px;
}




#gameDiv {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 0px;
}

#grid {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../Images/backgroundGrid.png');
    background-repeat: no-repeat;
    position: relative;
}


.shape {
    max-width: 30%;
    max-height: 30%;
    position: absolute;
    visibility: hidden;
}

#statusText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

#pressToStart {
    font-size: 20pt;
    font-weight: bold;
    color: Orange;
}

#buttonDiv {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
}

.stimuliButtons {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 150px;
}

